.experience-section {
    padding: 0em 6em 0em 6em;
}

.glimmer-decor{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 2em;
    padding: 4em;
}

#experience {
    text-align: center;
}