.thanks h1 {
    text-transform: uppercase;
    text-align: right;
}

.thanks-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 2em;
    padding: 2em 0em;
}

.thanks-links a {
    border-style: solid;
    border-radius: 30px;
    border-width: 1px;
    padding: 1em 2em;
    font-weight: bold;
    width: fit-content;

    text-decoration: none;
    color: #232323;
}

.thanks .divider {
    height: 1px;
    background-color: #232323;
}